<% @friends.keys.each do |location| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= location || "Unknown" %> <span class="badge"><%= @friends[location].count %></span></h3>
    </div>
    <div class="panel-body list-group">
      <% @friends[location].each do |friend| %>
        <a href="<%= friend['link'] %>" class="list-group-item"> <img src="<%= friend.try(:[],'picture').try(:[],'data').try(:[],'url') %>" class="img-circle"> <%= friend['name'] %></a>
      <% end %>
    </div>
  </div>
<% end %>
